:root{
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
*{
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
header{
  background-image: url('/images/bg-header-desktop.png');
  background-size: cover;
}
.container{
  margin: auto;
  width: 650px;
  text-align: center;
  padding: 50px;
}
.container h1{
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 30px;
}
.container > p{
  color: var(--Grayish-Blue);
  width: 610px;
  line-height: 1.8;
  margin-bottom: 60px;
}
header .logo{
  padding: 50px;
}
header h1{
  color: var(--Dark-Grayish-Blue);
  padding-bottom: 20px;
  font-size: 32px;
}
header p{
  color: var(--Grayish-Blue);
  line-height: 1.5;
  padding-bottom: 40px;
  font-size: 18px;
}
button{
  text-align: center;
  padding: 10px 40px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 18px;
  margin: 5px;
}
.ios{
  background-color: var(--Strong-Cyan);
}
.mac{
  background-color: var(--Light-Blue);
}
.snippets .content{
  display: flex;
  padding: 0;
}
.snippets img{
  position: relative;
  right: 470px;
  padding: 0;
}
.titles-descrptions{
  position: relative;
  right: 300px;
}
.box{
  margin-top: 60px;
  width: 350px;
  text-align: left;
}
.snippets h2{
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 20px;
}
.box p{
  color: var(--Grayish-Blue);
  line-height: 1.8;
}
.anywhere img{
  position: relative;
  right: 100px;
  margin-top: 30px;
}
.workflow p{
  position: relative;
  left: 20px;
}
.works{
  display: flex;
  justify-content: space-between;
}
.work-discreption{
  margin: auto;
  text-align: center;
  align-items: center;
  width: 350px;
}
.work-discreption h2{
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 10px;
  padding: 0;
}
.work-discreption p{
  color: var(--Grayish-Blue);
  margin-bottom: 10px;
  line-height: 1.9;
}
.work-discreption img{
  margin-bottom: 30px;
}
.companies{
  margin: 150px 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.companies img{
  margin: auto;
}
footer{
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px 150px;
  align-items: center;
}
footer img{
  width: 50px;
}
.colums{
  display: flex;
  justify-content: space-between;
}
.col{
  color: var(--Dark-Grayish-Blue);
  line-height: 1.8;
  padding-left: 70px;
}
.icons img {
  width: 20px;
  padding-left:10px ;
}
